/* --- MAIN FONT FAMILY --- */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



/* --- NAVBAR --- */
.navbar {
    display: flex;
    width: fit-content;
    margin: auto;
}

.navbar div {
    margin-right: 25px;
}



/* --- TABLE DESIGN --- */
table {
    margin-top: 25px;
    border-collapse: collapse;
    width: 100%;
}

tr:hover {
    background-color: #c9c9c9;
}

th, td {
    padding: 15px 12px 2px 12px;
    text-align: center;
    border-bottom: 1px solid #a4a4a4;
}


.below_Navbar {
    padding-left: 20px;
}



/* --- FORMS DESIGN --- */
body.login {
    background-color: darkslategray;
}
body.register {
    background-color: darkslateblue;
}
body.admin {
    background-color: #d9ae70;
}
body.hr {
    background-color: #9E7682;
}
body.applicant {
    background-color: #f9f4eb;
}

div.position_Center {
    background-color: white;
    border: 3px solid;
    width: fit-content;
    padding: 25px 50px;
    margin: auto;
    margin-top: 50px;
}
h1.center_Form {
    text-align: center;
}
h2.center_Form {
    text-align: center;
}
form.center_Form {
    padding: 15px 0px 30px;
}



/* --- RADIO BUTTON LAYOUT --- */
input[type="radio"] {
    display: inline;
}
.radio_button {
    margin-right: 7px;
}


button {
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 2px 5px;
}
button:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.link_Btn {
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #555555;
    text-decoration: none;
    padding: 2px 5px;
}
.link_Btn:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



/* --- DELETE BUTTON POSITION --- */
.delete_Container {
    background-color: white;
    position: relative;
    border-style: solid;
    height: 450px;
    margin-top: 20px;
    padding-left: 25px;
}

.deleteBtn {
    position: absolute;
    margin: 0px 0px 20px 25px;
    left: 0;
    bottom: 0;
}